<section class="man-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="filter-control">
          <ul>
            <li class="active">Clothings</li>
            <li>HandBag</li>
            <li>Shoes</li>
            <li>Accessories</li>
          </ul>
        </div>
        <div class="product-slider owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-1378px, 0px, 0px);
                transition: all 1.2s ease 0s;
                width: 3446px;
              "
            >
              <div
                class="owl-item cloned"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-4.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 319.55px; margin-right: 25px">
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-1.jpg" alt="" />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-4.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-1.jpg" alt="" />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 319.55px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="/assets/img/products/man-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev">
              <i class="ti-angle-left"></i></button
            ><button type="button" role="presentation" class="owl-next">
              <i class="ti-angle-right"></i>
            </button>
          </div>
          <div class="owl-dots">
            <button role="button" class="owl-dot active"><span></span></button
            ><button role="button" class="owl-dot"><span></span></button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div
          class="product-large set-bg m-large"
          data-setbg="/assets/img/products/man-large.jpg"
          style="background-image: url('/assets/img/products/man-large.jpg')"
        >
          <h2>Men’s</h2>
          <a href="#">Discover More</a>
        </div>
      </div>
    </div>
  </div>
</section>
