<app-breadcrumb></app-breadcrumb>
<!-- Map section started -->
<div class="map spad">
  <div class="container">
    <div class="map-inner">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28581.810954532055!2d80.27836552258313!3d26.432305445715034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c47c170dfdf91%3A0x7ccd3297160b501c!2sShri%20Hanuman%20Mandir!5e0!3m2!1sen!2sin!4v1692087659565!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="icon">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
  </div>
</div>
<!-- Map section ends -->

<!-- Contact section started -->
<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="contact-title">
          <h4>Contacts Us</h4>
          <p>
            Contrary to popular belief, Lorem Ipsum is simply random text. It
            has roots in a piece of classical Latin literature from 45 BC, maki
            years old.
          </p>
        </div>
        <div class="contact-widget">
          <div class="cw-item">
            <div class="ci-icon">
              <i class="ti-location-pin"></i>
            </div>
            <div class="ci-text">
              <span>Address:</span>
              <p>60-49 Road 11378 New York</p>
            </div>
          </div>
          <div class="cw-item">
            <div class="ci-icon">
              <i class="ti-mobile"></i>
            </div>
            <div class="ci-text">
              <span>Phone:</span>
              <p>+65 11.188.888</p>
            </div>
          </div>
          <div class="cw-item">
            <div class="ci-icon">
              <i class="ti-email"></i>
            </div>
            <div class="ci-text">
              <span>Email:</span>
              <p>hellocolorlib@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="contact-form">
          <div class="leave-comment">
            <h4>Leave A Comment</h4>
            <p>Our staff will call back later and answer your questions.</p>
            <form action="#" class="comment-form">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="Your name" />
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Your email" />
                </div>
                <div class="col-lg-12">
                  <textarea placeholder="Your message"></textarea>
                  <button type="submit" class="site-btn">Send message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact section end-->
<app-partner-logo></app-partner-logo>
