<section class="hero-section">
  <div class="hero-items owl-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div
        class="owl-stage"
        style="
          transform: translate3d(-3376px, 0px, 0px);
          transition: all 0s ease 0s;
          width: 10128px;
        "
      >
        <div class="owl-item cloned" style="width: 1688px">
          <div
            class="single-hero-items set-bg"
            data-setbg="/assets/img/hero-1.jpg"
            style="background-image: url('/assets/img/hero-1.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1688px">
          <div
            class="single-hero-items set-bg"
            data-setbg="/assets/img/hero-2.jpg"
            style="background-image: url('/assets/img/hero-2.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div
          class="owl-item animated owl-animated-in fadeIn active"
          style="width: 1688px"
        >
          <div
            class="single-hero-items set-bg"
            data-setbg="/assets/img/hero-1.jpg"
            style="background-image: url('/assets/img/hero-1.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div
          class="owl-item animated owl-animated-in fadeIn"
          style="width: 1688px"
        >
          <div
            class="single-hero-items set-bg"
            data-setbg="img/hero-2.jpg"
            style="background-image: url('/assets/img/hero-2.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1688px">
          <div
            class="single-hero-items set-bg"
            data-setbg="/assets/img/hero-1.jpg"
            style="background-image: url('/assets/img/hero-1.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1688px">
          <div
            class="single-hero-items set-bg"
            data-setbg="/assets/img/hero-2.jpg"
            style="background-image: url('/assets/img/hero-2.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav">
      <button type="button" role="presentation" class="owl-prev">
        <i class="ti-angle-left"></i></button
      ><button type="button" role="presentation" class="owl-next">
        <i class="ti-angle-right"></i>
      </button>
    </div>
    <div class="owl-dots disabled"></div>
  </div>
</section>
