<div class="partner-logo">
  <div class="container">
    <div class="logo-carousel owl-carousel owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="
            transform: translate3d(0px, 0px, 0px);
            transition: all 0s ease 0s;
            width: 1170px;
          "
        >
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="/assets/img/logo-carousel/logo-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="/assets/img/logo-carousel/logo-2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="/assets/img/logo-carousel/logo-3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="/assets/img/logo-carousel/logo-4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="/assets/img/logo-carousel/logo-5.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev">
          <i class="ti-angle-left"></i></button
        ><button type="button" role="presentation" class="owl-next">
          <i class="ti-angle-right"></i>
        </button>
      </div>
      <div class="owl-dots disabled"></div>
    </div>
  </div>
</div>
